.alert_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.877);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.alert_backdrop .items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.alert_backdrop .items svg {
  color: rgb(39, 228, 39);
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
}

.alert_backdrop .items h1 {
  color: white;
}